@model FernandoLibrary.Persistance.Entities.Libro
@using FernandoLibrary.Persistance.Entities


@{
ViewData["Title"] = "Crear Libro";
}

<div class="container mt-4">
    <h1 class="display-4">Crear Libro</h1>

    <form asp-action="Create" class="mt-4">
        <div class="form-group">
            <label asp-for="Titulo" class="control-label"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AutorId" class="control-label">Autor</label>
            <select asp-for="AutorId" class="form-control">
                <option value="">Seleccione un autor</option>
                @foreach (var autor in ViewBag.Autores as List<Autor>)
                {
                <option value="@autor.Id">@autor.Nombre</option>
                }
            </select>
            <span asp-validation-for="AutorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoriaId" class="control-label">Categoría</label>
            <select asp-for="CategoriaId" class="form-control">
                <option value="">Seleccione una categoría</option>
                @foreach (var categoria in ViewBag.Categorias as List<Categoria>)
                {
                    <option value="@categoria.Id">@categoria.Nombre</option>
                }
            </select>
            <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cantidad" class="control-label"></label>
            <input asp-for="Cantidad" class="form-control" />
            <span asp-validation-for="Cantidad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Crear
            </button>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </form>
</div>

@section Scripts {
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
}